/* VARIABLES
------------------------------------*/
/* COLORS
------------------------------------*/
$color_1: #292831;
$color_2: #8B8C99;
$color_3: #f3123c;
$color_4: #4d4c59;
$color_5: #5e5e6c;
$color_6: #fb9e74;
$color_7: #f1f3f7;
$color_8: #42414d;
$color_9: #e0dfe4;
$color_10: #aeaeba;
$color_11: #ecedf2;
/* END COLORS
------------------------------------*/
/* IMAGE PATH
------------------------------------*/
$img_path: "/images/";
$icons_path: "/images/icons/";
$backgrounds_path: "/images/backgrounds/";
/* END IMAGE PATH
------------------------------------*/